
<!doctype html>
<html>




<head>
	<title>Line Chart</title>
	<script src="static/moment-with-locales.js"></script>
	<script src="static/Chart.bundle.js"></script>
	<script src="static/Chart.js"></script>
	<script type="text/javascript" src="static/he.js"></script>
	<script src="static/chartjs-plugin-zoom.js"></script>
	<script src="static/line-chart.js" type="module"> </script>
	<script type="text/javascript" src="static/line.js"></script>

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div id="titre"><h1><center>Latency between you and Google.fr</center></h1></div>
	<canvas id="line-chart"></canvas>
	<script type="text/javascript" src="static/line.js"></script>
	<script type="text/javascript">
		var labels_var = '{{ labels }}';
		var data_var = '{{ values }}';

		labels = [];
		donnee = [];

		drawLine();

		function addData(chart, label, data) {
			chart.data.labels.push(label);
			chart.data.datasets.forEach((dataset) => {
				dataset.data.push(data);
			});
			chart.update();
		}

		function drawLine() {

			recupData();
			recupLabels();

			

			window.myLine = new Chart(document.getElementById("line-chart"), {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label :'Latency (ms)',
						data: donnee,
						backgroundColor: [
							'rgba(6, 0, 173, 0.2)'
						],
						borderColor: [
							'rgba(6, 0, 173, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					responsive: true,
					scales: {
						xAxes: [{
							type: 'time',
							distribution: 'linear',
							displayFormats: {
								millisecond: 'h:mm:ss.SSS a'
							}
						}]
					},
					title: {
						display: false,
						text: 'Latency between you and Google.fr'
					},
					pan: {
						// Boolean to enable panning
						enabled: true,
			
						// Panning directions. Remove the appropriate direction to disable 
						// Eg. 'y' would only allow panning in the y direction
						mode: 'xy'
					},
			
					// Container for zoom options
					zoom: {
						// Boolean to enable zooming
						enabled: true,
			
						// Zooming directions. Remove the appropriate direction to disable 
						// Eg. 'y' would only allow zooming in the y direction
						mode: 'xy',
					}
				}
			});
		}

		function resetZoom() {
			window.myLine.resetZoom();
		}

		function recupData() {
			data = he.decode(data_var);
			tab_data = data.split(',');
			for (var index in tab_data) {
				tmp = tab_data[index].replace("'", "");
				tmp = tmp.replace("[", "");
				tmp = tmp.replace("]", "");
				tmp = tmp.replace("'", "");
				donnee.push(tmp);
			}
		}

		function recupLabels() {
			label = he.decode(labels_var);
			tab_label = label.split('\',');
			for (var index in tab_label) {
				tmp = tab_label[index].replace("'", "");
				tmp = tmp.replace("[", "");
				tmp = tmp.replace("]", "");
				tmp = tmp.replace("'", "");
				labels.push(tmp);
			}
		}
		//drawLine()
	</script>
	
	<button onclick="resetZoom()">Reset Zoom</button>
	
  	


	

</body>

</html>